<div class="modal" ng-controll='authorizCtrl'>
  <!-- // ion-header-bar -->
  <ion-header-bar>
    <button class="button button-clear button-assertive" ng-click="closeEditTask()">Cancel</button>
    <h1 class='title'>Autorization</h1>
  </ion-header-bar>

<!--       // modal content -->
  <ion-content>
    <form class="signin-form" ng-submit='signIn(user)'>
      <h2>Log In</h2>
      <div class="error" style="display:none"></div>
        <input type="text" id="signin-username" placeholder="Username" ng-model='user.name'/>
        <input type="password" id="signin-password" placeholder="Password" ng-model='user.password'/>
      <button type='submit' class="btn btn-clear btn-positive" >Sign In</button>
    </form>

    <form class="signup-form" ng-submit="singUp(newUser)">
      <h2>Sign Up</h2>
      <div class="error" style="display:none"></div>
      <input type="text" id="signup-username" placeholder="your user name" ng-model='newUser.name'/>
      <input type="password" id="signup-password" placeholder="Create a Password" ng-model='newUser.password'/>
      <button type="submit" class="btn btn-clear btn-positive">Sign Up</button>
    </form>
  </ion-content>
</div>